In [2]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.width', 85)
pd.set_option('display.max_columns', 8)

# CSV File opening and treatment

In [2]:
landtemps = pd.read_csv('./landtempssample.csv', names=['stationid', 'year', 'month', 'avgtemp', 'latitude',
                                                        'longitude', 'elevation', 'station', 'countryid', 'country'],
                        skiprows=1, parse_dates=[['month', 'year']])

In [3]:
type(landtemps)

pandas.core.frame.DataFrame

In [4]:
landtemps.head(7)

,month_year,stationid,avgtemp,latitude,...,elevation,station,countryid,country
0,2000-04-01,USS0010K01S,5.27,39.90,...,"2,773.70",INDIAN_CANYON,US,United States
1,1940-05-01,CI000085406,18.04,-18.35,...,58.00,ARICA,CI,Chile
2,2013-12-01,USC00036376,6.22,34.37,...,61.00,SAINT_CHARLES,US,United States
3,1963-02-01,ASN00024002,22.93,-34.28,...,65.50,BERRI_IRRIGATION,AS,Australia
4,2001-11-01,ASN00028007,NaN,-14.78,...,79.40,MUSGRAVE,AS,Australia
5,1991-04-01,USW00024151,5.59,42.15,...,"1,362.50",MALAD_CITY,US,United States
6,1993-12-01,RSM00022641,-10.17,63.90,...,13.00,ONEGA,RS,Russia

In [5]:
landtemps.dtypes

month_year    datetime64[ns]
stationid             object
avgtemp              float64
latitude             float64
longitude            float64
elevation            float64
station               object
countryid             object
country               object
dtype: object

In [6]:
landtemps.shape

(100000, 9)

In [7]:
landtemps.rename(columns={'month_year':'measuredate'}, inplace=True)

In [8]:
landtemps.dtypes

measuredate    datetime64[ns]
stationid              object
avgtemp               float64
latitude              float64
longitude             float64
elevation             float64
station                object
countryid              object
country                object
dtype: object

In [9]:
landtemps.avgtemp.describe()

count   85,554.00
mean        10.92
std         11.52
min        -70.70
25%          3.46
50%         12.22
75%         19.57
max         39.95
Name: avgtemp, dtype: float64

In [10]:
landtemps.isnull().sum()

measuredate        0
stationid          0
avgtemp        14446
latitude           0
longitude          0
elevation          0
station            0
countryid          0
country            5
dtype: int64

In [11]:
landtemps.dropna(subset=['avgtemp'], inplace=True)
landtemps.shape

(85554, 9)

# Excel File opening

In [3]:
percapitaGDP = pd.read_excel('GDPpercapita.xlsx',sheet_name='OECD.Stat export', skiprows=4, usecols="A,C:T")
# note to self: pd.read_x turns the read data automatically into a pandas DF

In [4]:
percapitaGDP.head()

                         Year   2001   2002   2003  ...   2015   2016   2017   2018
0          Metropolitan areas    NaN    NaN    NaN  ...    NaN    NaN    NaN    NaN
1              AUS: Australia     ..     ..     ..  ...     ..     ..     ..     ..
2       AUS01: Greater Sydney  43313  44008  45424  ...  50075  50519  50578  49860
3    AUS02: Greater Melbourne  40125  40894  41602  ...  42928  42671  43025  42674
4     AUS03: Greater Brisbane  37580  37564  39080  ...  44388  45723  46876  46640

[5 rows x 19 columns]

In [5]:
percapitaGDP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 703 entries, 0 to 702
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    703 non-null    object
 1   2001    701 non-null    object
 2   2002    701 non-null    object
 3   2003    701 non-null    object
 4   2004    701 non-null    object
 5   2005    701 non-null    object
 6   2006    701 non-null    object
 7   2007    701 non-null    object
 8   2008    701 non-null    object
 9   2009    701 non-null    object
 10  2010    701 non-null    object
 11  2011    701 non-null    object
 12  2012    701 non-null    object
 13  2013    701 non-null    object
 14  2014    701 non-null    object
 15  2015    701 non-null    object
 16  2016    701 non-null    object
 17  2017    701 non-null    object
 18  2018    701 non-null    object
dtypes: object(19)
memory usage: 104.5+ KB

In [6]:
percapitaGDP.rename(columns={'Year': 'metro'}, inplace=True)
percapitaGDP.metro.str.startswith(' ').any()  # checks for leading whitespaces

True

In [7]:
percapitaGDP.metro.str.endswith(' ').any()  # checks for trailing whitespaces

True

In [8]:
percapitaGDP.metro = percapitaGDP.metro.str.strip()  # uses builtin strip method to remove said whitespaces

In [10]:
for col in percapitaGDP.columns[1:]:
    percapitaGDP[col] = pd.to_numeric(percapitaGDP[col], errors='coerce')
    percapitaGDP.rename(columns={col:'pcGDP'+col}, inplace=True)
# iterates through all the year columns and converts the datatype from object to a float.
# the coerce error would turn any errors raised into a NaN value

In [13]:
percapitaGDP.head() # note to self: check the AUS row, all converted

,metro,pcGDP2001,pcGDP2002,pcGDP2003,...,pcGDP2015,pcGDP2016,pcGDP2017,pcGDP2018
0,Metropolitan areas,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN
1,AUS: Australia,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN
2,AUS01: Greater Sydney,"43,313.00","44,008.00","45,424.00",...,"50,075.00","50,519.00","50,578.00","49,860.00"
3,AUS02: Greater Melbourne,"40,125.00","40,894.00","41,602.00",...,"42,928.00","42,671.00","43,025.00","42,674.00"
4,AUS03: Greater Brisbane,"37,580.00","37,564.00","39,080.00",...,"44,388.00","45,723.00","46,876.00","46,640.00"

In [16]:
percapitaGDP.dtypes

metro         object
pcGDP2001    float64
pcGDP2002    float64
pcGDP2003    float64
pcGDP2004    float64
pcGDP2005    float64
pcGDP2006    float64
pcGDP2007    float64
pcGDP2008    float64
pcGDP2009    float64
pcGDP2010    float64
pcGDP2011    float64
pcGDP2012    float64
pcGDP2013    float64
pcGDP2014    float64
pcGDP2015    float64
pcGDP2016    float64
pcGDP2017    float64
pcGDP2018    float64
dtype: object

In [17]:
percapitaGDP.describe()

,pcGDP2001,pcGDP2002,pcGDP2003,pcGDP2004,...,pcGDP2015,pcGDP2016,pcGDP2017,pcGDP2018
count,424.00,440.00,440.00,440.00,...,480.00,480.00,445.00,441.00
mean,"41,263.66","41,015.07","41,553.36","42,473.02",...,"45,802.22","46,243.67","47,489.09","48,032.67"
std,"11,877.96","12,536.52","12,456.58","12,621.90",...,"14,948.68","14,938.55","15,463.80","15,719.73"
min,"10,988.00","11,435.00","11,969.00","12,777.00",...,"2,761.00","2,796.00","2,745.00","2,832.00"
25%,"33,139.25","32,636.00","33,284.75","33,864.50",...,"36,128.50","36,584.75","37,316.00","37,908.00"
50%,"39,543.50","39,683.50","40,390.50","41,200.50",...,"43,237.50","43,931.50","45,385.00","46,057.00"
75%,"47,971.75","48,611.00","49,354.75","50,468.25",...,"54,134.25","54,449.75","56,023.00","56,638.00"
max,"91,488.00","93,566.00","98,123.00","96,242.00",...,"121,623.00","117,879.00","122,242.00","127,468.00"

In [18]:
percapitaGDP.dropna(subset=percapitaGDP.columns[1:], how='all', inplace=True)  # this removes all NaN values. note that the "how='all'" will only affect those rows in the subset created earlier

In [19]:
percapitaGDP.describe()

,pcGDP2001,pcGDP2002,pcGDP2003,pcGDP2004,...,pcGDP2015,pcGDP2016,pcGDP2017,pcGDP2018
count,424.00,440.00,440.00,440.00,...,480.00,480.00,445.00,441.00
mean,"41,263.66","41,015.07","41,553.36","42,473.02",...,"45,802.22","46,243.67","47,489.09","48,032.67"
std,"11,877.96","12,536.52","12,456.58","12,621.90",...,"14,948.68","14,938.55","15,463.80","15,719.73"
min,"10,988.00","11,435.00","11,969.00","12,777.00",...,"2,761.00","2,796.00","2,745.00","2,832.00"
25%,"33,139.25","32,636.00","33,284.75","33,864.50",...,"36,128.50","36,584.75","37,316.00","37,908.00"
50%,"39,543.50","39,683.50","40,390.50","41,200.50",...,"43,237.50","43,931.50","45,385.00","46,057.00"
75%,"47,971.75","48,611.00","49,354.75","50,468.25",...,"54,134.25","54,449.75","56,023.00","56,638.00"
max,"91,488.00","93,566.00","98,123.00","96,242.00",...,"121,623.00","117,879.00","122,242.00","127,468.00"

In [23]:
percapitaGDP.shape

(480, 19)

In [20]:
percapitaGDP.metro.count()

480

In [24]:
percapitaGDP.metro.nunique()  # we've confirmed there are 480 unique values

480

In [25]:
percapitaGDP.set_index('metro', inplace=True)  # setting the new index

In [26]:
percapitaGDP.head()

,pcGDP2001,pcGDP2002,pcGDP2003,pcGDP2004,...,pcGDP2015,pcGDP2016,pcGDP2017,pcGDP2018
metro,,,,,,,,,
AUS01: Greater Sydney,"43,313.00","44,008.00","45,424.00","45,837.00",...,"50,075.00","50,519.00","50,578.00","49,860.00"
AUS02: Greater Melbourne,"40,125.00","40,894.00","41,602.00","42,188.00",...,"42,928.00","42,671.00","43,025.00","42,674.00"
AUS03: Greater Brisbane,"37,580.00","37,564.00","39,080.00","40,762.00",...,"44,388.00","45,723.00","46,876.00","46,640.00"
AUS04: Greater Perth,"45,713.00","47,371.00","48,719.00","51,020.00",...,"66,544.00","66,032.00","66,424.00","70,390.00"
AUS05: Greater Adelaide,"36,505.00","37,194.00","37,634.00","37,399.00",...,"40,295.00","39,737.00","40,115.00","39,924.00"